<!-- Wrapper -->
<div id="wrapper" class="fade-in">
  <!-- Intro -->
  <div id="intro">
    <h1>
      {{ 'PROJECT_TITLE' | translate }}
    </h1>
    <p>{{ 'PROJECT_NAME' | translate }}</p>
    <ul class="actions">
      <li>
        <a href="#post" class="button icon solid solo fa-arrow-down scrolly"
          >Continue</a
        >
      </li>
    </ul>
  </div>

  <!-- Header -->
  <header id="header">
    <a href="" class="logo">Content</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="">{{ 'MAIN_PAGE' | translate }}</a></li>
			<li><a href="#subscriptions">{{ 'SUBSCRIBE' | translate }}</a></li>
			<li><a *ngIf="!this.authService.loggedIn()" (click)="registerToggle(); openModalWithRegisterComponent()" style="cursor: pointer;">{{ 'REGISTER' | translate }}</a></li>
			<li><a *ngIf="!this.authService.loggedIn()" (click)="loginToggle(); openModalWithLoginComponent()" style="cursor: pointer;">{{ 'LOGIN' | translate }}</a></li>
      <li><a *ngIf="this.authService.loggedIn()" [routerLink]="['/profile']" routerLinkActive="router-link-active">{{ 'PROFILE' | translate }}</a>
      <li><a *ngIf="this.authService.loggedIn()" (click)="logout()" style="cursor: pointer;">{{ 'LOGOUT' | translate }}</a></li>
      <!--REGISTRATION FORM-->
      <div *ngIf="registerMode" style="margin: auto; margin-top: 3em;">
        <div class="row justify-content-center">
          <div class="col-4">
            <app-register
              (cancelRegistration)="cancelRegistrationMode()"
            ></app-register>
          </div>
        </div>
      </div>
      <!--LOGIN FORM-->
      <div *ngIf="loginMode" style="margin: auto; margin-top: 3em;">
        <div class="row justify-content-center">
          <div class="col-4">
            <app-register
              (cancelLogin)="cancelLoginMode()"
            ></app-register>
          </div>
        </div>
      </div>
    </ul>
    <div style="margin-right: 5rem; display: flex;">
      <a (click)="translateService.use('en')" style="font-family: 'Source Sans Pro'; cursor: pointer;">EN</a>
      <p> | </p>
      <a (click)="translateService.use('ukr')" style="font-family: 'Source Sans Pro'; cursor: pointer;">UA</a>
      </div>
    <ul class="icons">
      <li>
        <a
          href="https://www.linkedin.com/in/hladkov37/"
          target="_blank"
          class="icon brands fa-facebook"
          ><span class="label">Facebook</span></a
        >
      </li>
      <li>
        <a
          href="https://github.com/nevereverlie"
          target="_blank"
          class="icon brands fa-telegram"
          ><span class="label">Telegram</span></a
        >
      </li>
    </ul>
  </nav>
</div>
