.container {
  display: contents;
}

.col, .column{
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  max-width: 500px;
  text-align: center;
  border-width: 5px !important;
  font-family: 'Raleway', sans-serif;
}

::ng-deep .dropdown, .dropdown-menu, .dropdown-item {
  z-index: 9999 !important;
}
