<!-- Main -->
<div id="main">

  <!-- Featured Post -->
    <article class="post featured" id="post">
      <header class="major">
        <h2><a href="#">{{ 'POST_TITLE_PART_1' | translate }}<br />
        {{ 'POST_TITLE_PART_2' | translate }}</a></h2>
        <p>{{ 'POST_CONTENT_PART_1' | translate }}<br />
        {{ 'POST_CONTENT_PART_2' | translate }}<br />
        {{ 'POST_CONTENT_PART_3' | translate }}</p>
      </header>
    </article>

  <!-- Subscriptions -->
    <section class="posts" id="subscriptions">
      <article>
        <header>
          <span class="date">{{ 'STANDART_SUBSCRIPTION_NOTE' | translate }}</span>
          <h2><a href="https://github.com/nevereverlie/RDR2-Mods" target="_blank">{{ 'STANDART_SUBSCRIPTION_NAME' | translate }}</a></h2>
        </header>
        <a href="https://github.com/nevereverlie/RDR2-Mods" target="_blank" class="image fit"><img src="../../assets/images/STANDART.png" alt="" /></a>
        <p style="text-align: center;">{{ 'STANDART_SUBSCRIPTION_PRICE' | translate }}</p>
        <ul class="actions special">
          <li><a href="https://github.com/nevereverlie/RDR2-Mods" target="_blank" class="button">{{ 'BUY' | translate }}</a></li>
        </ul>
      </article>
      <article>
        <header>
          <span class="date">{{ 'PREMIUM_SUBSCRIPTION_NOTE' | translate }}</span>
          <h2><a href="https://github.com/nevereverlie/Revisory-Control.API" target="_blank">{{ 'PREMIUM_SUBSCRIPTION_NAME' | translate }}</a></h2>
        </header>
        <a href="https://github.com/nevereverlie/Revisory-Control.API" target="_blank" class="image fit"><img src="../../assets/images/PREMIUM.png" alt="" /></a>
        <p style="text-align: center;">{{ 'PREMIUM_SUBSCRIPTION_PRICE' | translate }}</p>
        <ul class="actions special">
          <li><a href="https://github.com/nevereverlie/Revisory-Control.API" target="_blank" class="button">{{ 'BUY' | translate }}</a></li>
        </ul>
      </article>
    </section>

  <!-- Posts (TODO)
    <header>
      <div class="skills">
        <h2 style="text-align: center;">Professional Skills</h2>
        <ul>
          <li>2 years of non-commercial development in C# and .NET platform</li>
          <li>Good understanding of OOP principles</li>
          <li>Work experience with ASP.NET Core (Web API)</li>
          <li>Understanding of MVC pattern and REST approach</li>
          <li>HTML + CSS + TypeScript</li>
          <li>Experience of working with Angular 2 (Frontend)</li>
          <li>Knowledge of SQL queries, MS SQL Server, SQlite</li>
          <li>Entity Framework Core as main ORM</li>
          <li>Experience of working in team of students based on Agile</li>
          <li>Knowledge of Еnglish at the Upper-Intermediate level</li>
          <li>Additionally worked with WinForms, JSON, JWT, Azure</li>
        </ul>
      </div>
      <div class="skills">
        <h2 style="text-align: center;">Professional Skills</h2>
        <ul>
          <li>2 years of non-commercial development in C# and .NET platform</li>
          <li>Good understanding of OOP principles</li>
          <li>Work experience with ASP.NET Core (Web API)</li>
          <li>Understanding of MVC pattern and REST approach</li>
          <li>HTML + CSS + TypeScript</li>
          <li>Experience of working with Angular 2 (Frontend)</li>
          <li>Knowledge of SQL queries, MS SQL Server, SQlite</li>
          <li>Entity Framework Core as main ORM</li>
          <li>Experience of working in team of students based on Agile</li>
          <li>Knowledge of Еnglish at the Upper-Intermediate level</li>
          <li>Additionally worked with WinForms, JSON, JWT, Azure</li>
        </ul>
      </div>
    </header>
  -->
</div>
