<!-- Footer -->
<footer id="footer">
  <section class="split contact">
    <section class="alt">
      <h3>{{ 'FOOTER_ADDRESS' | translate }}</h3>
      <p>{{ 'FOOTER_ADDRESS_PART_1' | translate }}<br />
      {{ 'FOOTER_ADDRESS_PART_2' | translate }}</p>
    </section>
    <section>
      <h3>{{ 'FOOTER_PHONE' | translate }}</h3>
      <p><a>+(380) 680-535-842</a></p>
    </section>
    <section>
      <h3>{{ 'FOOTER_EMAIL' | translate }}</h3>
      <p><a href="mailto:danylo.hladkov@nure.ua">danylo.hladkov@nure.ua</a></p>
    </section>
    <section>
      <h3>{{ 'FOOTER_SOCIAL' | translate }}</h3>
      <ul class="icons alt" style="margin-left: 2rem;">
        <li><a href="https://www.linkedin.com/in/hladkov37/" class="icon brands alt fa-telegram"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://github.com/nevereverlie" class="icon brands alt fa-facebook"><span class="label">Facebook</span></a></li>
      </ul>
    </section>
  </section>
</footer>

<!-- Copyright -->
<div id="copyright">
  <ul><li>Petvisor</li><li>Copyright &copy; 2021</li></ul>
</div>
