<div id="main">
  <form
  #profileForm="ngForm"
  (ngSubmit)="updateProfile(user)"
  class="needs-validation profileForm pb-5"
  novalidate
  style="margin: auto"
>
  <h2 class="mt-3 title">
    {{ 'YOUR_PROFILE' | translate }}
    <fa-icon
      [icon]="faEdit"
      style="cursor: pointer; padding-left: 1rem"
      (click)="changeEditMode(!editMode)"
    ></fa-icon>
  </h2>

  <div class="form-group">
    <label for="email">E-mail: </label>
    <label id="email" class="user__label" *ngIf="!editMode">{{
      user?.userEmail
    }}</label>
    <input
      type="email"
      class="form-control user__input"
      id="email"
      *ngIf="editMode"
      name="email"
      [(ngModel)]="user.userEmail"
      value="{{ user?.userEmail }}"
    />
  </div>

  <div class="form-group">
    <label for="firstname">{{ 'PROFILE_FIRSTNAME' | translate }}</label>
    <label id="firstname" class="user__label" *ngIf="!editMode">{{
      user?.firstname
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="firstname"
      name="firstname"
      [(ngModel)]="user.firstname"
      *ngIf="editMode"
      value="{{ user?.firstname }}"
    />
  </div>

  <div class="form-group">
    <label for="lastname">{{ 'PROFILE_LASTNAME' | translate }}</label>
    <label id="lastname" class="user__label" *ngIf="!editMode">{{
      user?.lastname
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="lastname"
      *ngIf="editMode"
      name="lastname"
      [(ngModel)]="user.lastname"
      value="{{ user?.lastname }}"
    />
  </div>

  <div class="form-group text-center">
    <button
      *ngIf="editMode"
      class="btn btn-success profileBtn"
      type="submit"
      (click)="updateProfile(user)"
    >
      {{ 'PROFILE_UPDATE' | translate }}
    </button>
    <button
      *ngIf="editMode"
      class="btn btn-secondary"
      type="button"
      (click)="changeEditMode(false)"
    >
      {{ 'PROFILE_CANCEL' | translate }}
    </button>
  </div>
  </form>
</div>


